<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
Hola, <%= @player.name %><br/><br/>
Ya han salido los números de la lotería del amigo invisible!<br/><br/>
A ver, a ver... quién te ha tocado... <br/><br/>
<b>¡¡<%= @player.destiny.name %>!!</b><br/><br/>
Ponte manos a la obra, que la Navidad ha llegado.<br/><br/>
Si te ha tocado tu propio nombre o el de alguien que viva en tu casa, algo ha salido mal... avísame para repetir el sorteo, por favor!<br/><br/>
Besos!!
    </p>

  </body>
</html>
